html{
    box-sizing: border-box;
    }
    
    *, *::before, *::after{
    box-sizing: inherit;
    }

body{
    background-color: black;
    color: white;
    max-width: 90%;
}


#rockh{
    color: silver;
    font-weight: bold;
}

#paperh{
    color: limegreen;

}

#scissorsh{
    color: purple;
}

#best5{
    color: aqua;
}

#rock{
    background-color: silver;
}
#paper{
    background-color: limegreen;
}

#scissors{
    background-color: purple;
}

#titles{
    color: gold;
}


button:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.header, .container{
    display: flex;
    max-width: 90%;
}

.header{
    align-content: center;
    align-items: center;
    text-align: center;
}

.header *{
    margin:10px;
    text-align: center;
    align-items: center;
    align-self: center;
}

h1{
    text-align: center;
}

.man, .machine{
    flex-direction: row;
    flex-basis: 100%;

}

.stats, .stats2{
    display: flex;
    flex-direction: row;
}

.stats *{
    margin: 5px;
    text-align: center;
}

.stats2 *{
    margin: 10px;
    text-align: center;
}

.vs{
    flex-basis: 20%;
    text-align: center;
}

img{
    flex-basis: 70%;
    max-height: 200px;

}